*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


header{
    background-color: purple;
    width: 100vw;
    height: 10vh;
    display: flex;
    align-items: center;
    padding-left: 2vw;
    column-gap: 1vw;
    padding-left: 10vw;
}

header>div{
    width: 6vw;
    height: 5vh;
    background-color: aqua;
}

header+div{
    display: flex;
    width: 80vw;
    height: 77vh;
    margin: 1vh 10vw 0 10vw;
}

header+div>nav,header+div>main{
    margin-left: 0.5vw;
}

main{
    background-color: yellow;
    height: 100%;
    width: 65%;
    order: 2;
    align-self: flex-end;
    
}

nav{
    background-color: green;
    height: 100%;
    width: 35%;
    order: 1,
}

footer{
    background-color: gray;
    height: 10vh;
    width: 80vw;
    margin: 1vh 0 1vh 10vw;
}